body{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    height: 100vh;           /* Hace que el cuerpo del documento ocupe toda la altura de la ventana */
    background-color: black;
    margin: 0;
}

section{
    width: 70%;
    font-size: 150%;
}
a{
    border-style: dotted;
    height: 5%;
    text-decoration: none;
    font-size: 130%;
    color: bisque;
    padding-top: 1.5%;
}

a:hover{
    color: tomato;
}